<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,700&display=swap" rel="stylesheet">

<body>
    <nav>
        <div id="logo">
            <h2>A Platform to land your Blog</h2>
            <img src="assets/img/shortlogo.png" alt="logo">
        </div>
    </nav>
    <section class="main">
        <div class="matter">
            BLOGLAND is where those ideas take shape, take off, and spark
            powerful conversations. <br> We’re an open platform where 170 million readers come to find insightful and
            dynamic thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new
            ideas to the surface. Our purpose is to spread these ideas and deepen understanding of the world.
            <br><br>
            We’re creating a new model for digital publishing. One that supports nuance, complexity, and vital
            storytelling without giving in to the incentives of advertising. It’s an environment that’s open to everyone
            but promotes substance and authenticity. And it’s where deeper connections forged between readers and
            writers can lead to discovery and growth. The best ideas can change who we are. 
        </div>
    </section>
    <div class="image"></div>
    <div id="info">
        <h1>A living network of curious minds.</h1><br>
        <div id="more">With blogs, publications, and newsletters, you have different ways to style and share your stories.A blank page is also a door. At Blogland you can walk through it. It's easy and free to share your thinking on any topic, connect with an audience, express yourself with a range of publishing tools. Create the space for your thinking to take off.</div>
        <button (click)= "toLogin()" class="btn" style="width: 20%; margin-left: 550px;">Start Your Journey!</button>
    </div>
    <div class="right"></div>
    <div class="left">Visit our company blog for the latest news, product updates, and tips and tricks. <br>
        <button (click)= "toHome()" class="btn">Read our Blogs</button>
    </div>
</body>